html {
  font-family: sans-serif;
}

body {
  margin: 0;
}
/*====================================================================================================================*
* run-header settings
*====================================================================================================================*/

/* something */

div#run-header table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border: 0;
  min-width: 50em;
}

div#run-header tr {
  padding: 0;
  border: 0;
}

div#run-header td {
  vertical-align: middle;
  padding: 0;
  border: 0;
}

div#run-header {
  position: fixed;
  top: 0px;
  left: 10em;
  height: 4em;
  width: calc(100% - 10em);
  background-color: #F0F0F0;
  max-height: 4em;
  border: 1px solid #CCCCCC;
  z-index:90000;
}

div#mandate-tree {
  position: fixed;
  top: 4.5em;
  left: 10.5em;
  width: calc(100% - 11em);
  height: calc(100% - 5em);
  overflow-y: auto;
  min-width: 50em;
}

div#run-header td#run-details {
  padding-left: 1em;
  font-weight: bold;
  font-size: 200%;
  text-align: left;
}

div#run-header td.actions {
  text-align: right;
//  vertical-align: middle;
  margin-top: .5em;
}

div#run-header td.actions span {
  padding-right: 1em;
}

div#run-header div.button.new-row {
  clear: right;
}

div#run-header td.actions i {
  cursor: pointer;
}

div#run-header td.actions i.toggle-on {
  color: black;
}

div#run-header td.actions i.toggle-off {
  color: #dddddd;
}

/* run list */

table {
  border-collapse: collapse;
}

tr {
  border: 1px solid white;
}

td {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: .5em;
  padding-top: .5em;
  text-align: right;
}

td.icon {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.summary.success,
.summary.needed
{
  background-color: #DFF2BF;
}

.summary.failure {
  background-color: #FFBABA;
}

.summary.blocked {
  background-color: #FFBABA;
}

.summary.running {
  background-color: #c3e6fc;
}

.summary.unneeded {
  background-color: #FEEFB3;
}

.summary.pending {
  background-color: #DDDDDD;
}

div.mandate {
  margin-top: 1px;
}

.details {
  display: none;
  margin-left: 1.5em;
}

.summary-holder {
  position: relative;
}

.summary-spacer {
  visibility: hidden;
  padding: .5em;
}

.summary {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.collapse-control {
  padding: .5em;
}

div.collapser {
  width: 1.5em;
  float: left;
  text-align: center;
}

div.phase-name {
  color: white;
  background-color: gray;
}

div.icon {
  width: 1.5em;
  float: left;
  text-align: center;
}

div.time {
  float: right;
  text-align: right;
  padding-right: 1em;
}

div.link {
  float: right;
  text-align: right;
  padding: .5em;
  padding-right: 1em;
  display: table-cell;
  vertical-align: middle;
}

div.link a {
  display: inline-block;
  vertical-align: middle;
}

div.outcome {
  float: right;
  width: 20em;
  padding-left: .5em;
  padding-right: .5em;
}

div.description {
  padding-left: .5em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

div.right {
  float: right;
}

div.mono {
  padding-top: 0;
}

div.mandate.filtered {
  display: none;
}

div.log {
  margin-top: 1px;
  background: black;
  overflow: auto;
}

div.log div.line, div.log div.line-number {
  font-family: monospace;
  white-space: pre;
  padding-left: .5em;
  padding-top: .1em;
  padding-bottom: .1em;
}

div.log div.line span.line {
  padding-left: .5em;
}

div.log div.line-number {
  text-align: right;
}

div.log div.line-numbers {
  float: left;
}

div.log div.collapser {
  width: 1em;
}

div.log > div.line {
  padding-left: 1.5em;
}

div.log div.dbg {
  color: mediumorchid;
}

div.log div.inf {
  color: #dddddd;
}

div.log div.wrn {
  color: yellow;
}

div.log > div.err {
  color: red;
}

div.log div.FS, div.log div.FR {
  background-color: #d17300;
//  background-color: #9e5700;
//  color: black;
}

div.log div.section {
  padding: 0;
}

div.log div.command {
  background-color: #4C2882;
  color: lightgray;
  padding: 0;
}

div.log div.command div.section.content {
  background-color: lightgray;
  color: #4C2882;
}

div.log div.command div.section.output {
  background-color: black;
  color: lightgray;
}

div.log div.command div.section.output div.line.ERR {
  color: #ee6666;
}

div.log div.command div.start {
}


div.log div.command div.output.INF {
  color: lightgray;
  background-color: black;
}


div.log div.command div.exit {
  background-color: #4C2882;
  color: lightgray;
}

div.log div.collapser {
//  width: inherit;
//  padding: 0;
}

div.collapser-insert {
  padding: 0;
  overflow: auto;
}

div.log div.stack-trace {
  background-color: #C41E2A;
  color: lightgray;
  padding: 0;
}

div.log div.stack-trace div.line.stack-frame {
  background-color: lightgray;
  color: #C41E2A;
}

.force-content:after {
  content: '\00a0';
}

div.location {
  display: none;
}

div.command div.section.content {
  display: none;
}
