html {
  font-family: sans-serif;
}

body {
  min-width: 1000px;
}

table {
  border-collapse: collapse;
}

tr {
  border: 1px solid white;
}

td {
  padding-left: .5em;
  padding-right: .5em;
  padding-bottom: .25em;
  padding-top: .25em;
}

a {
  text-decoration: none;
  color: black;
}

tr.mandate.success,
div.mandate.success > div.summary,
div.mandate.needed > div.summary
{
  background-color: #DFF2BF;
}

tr.mandate.failure,
div.mandate.failure > div.summary {
  background-color: #FFBABA;
}

tr.mandate.blocked,
div.mandate.blocked > div.summary {
  background-color: #FFBABA;
}

tr.mandate.running,
div.mandate.running > div.summary {
  background-color: #c3e6fc;
}

tr.mandate.unneeded,
div.mandate.unneeded > div.summary {
  background-color: #FEEFB3;
}

tr.mandate.pending,
div.mandate.pending > div.summary {
  background-color: #DDDDDD;
}

div.row {
  width: 100%;
  clear: both;
}

div.box {
//  border: solid black 1pt;
  padding-top: .5em;
  padding-bottom: .5em;
}

div.collapser {
  width: 1.5em;
  float: left;
  text-align: center;
}

div.phase-name {
  color: white;
  background-color: gray;
}

div.icon {
  width: 1.5em;
  float: left;
  text-align: center;
}

div.indent {
  margin-left: 1.5em;
}

div.time {
  float: right;
  text-align: right;
  padding-right: 1em;
}

div.outcome {
  float: right;
  width: 20em;
  padding-left: .5em;
  padding-right: .5em;
}

div.description {
  padding-left: .5em;
  overflow: auto;
}

div.actions {
  float: right;
  padding-right: 1em;
}

div.right {
  float: right;
}

div.mono {
  padding-top: 0;
}

@keyframes spinup {
  from { transform: rotate(90deg); }
  to { transform: rotate(0deg); }
}

@keyframes spindown {
  from { transform: rotate(0deg); }
  to { transform: rotate(90deg); }
}

div.spinup {
  animation: spinup 200ms;
}

div.spindown {
  animation: spindown 200ms;
  animation-fill-mode: forwards;
}

div.actions i {
  cursor: pointer;
}

div.actions i.toggle-on {
  color: black;
}

div.actions i.toggle-off {
  color: #dddddd;
}

div.mandate.hidden {
  display: none;
}

div.summary {
  margin-top: 1px;
}


div.log {
  background: black;
  overflow: auto;
}

div.log div.line, div.log div.line-number {
  font-family: monospace;
  white-space: pre;
  padding-left: .5em;
  padding-top: .1em;
  padding-bottom: .1em;
}

div.log div.line span.line {
  padding-left: .5em;
}

div.log div.line-number {
  text-align: right;
}

div.log div.line-numbers {
  float: left;
}

div.log div.collapser {
  width: 1em;
}

div.log > div.line {
  padding-left: 1.5em;
}

div.log div.dbg {
  color: mediumorchid;
}

div.log div.inf {
  color: #dddddd;
}

div.log div.wrn {
  color: yellow;
}

div.log > div.err {
  color: red;
}

div.log div.FS, div.log div.FR {
  background-color: #d17300;
//  background-color: #9e5700;
//  color: black;
}

div.log div.section {
  padding: 0;
}

div.log div.command {
  background-color: #4C2882;
  color: lightgray;
  padding: 0;
}

div.log div.command div.section.content {
  background-color: lightgray;
  color: #4C2882;
}

div.log div.command div.section.output {
  background-color: black;
  color: lightgray;
}

div.log div.command div.section.output div.line.ERR {
  color: #ee6666;
}

div.log div.command div.start {
}


div.log div.command div.output.INF {
  color: lightgray;
  background-color: black;
}


div.log div.command div.exit {
  background-color: #4C2882;
  color: lightgray;
}

div.log div.collapser {
//  width: inherit;
//  padding: 0;
}

div.collapser-insert {
  padding: 0;
  overflow: auto;
}

div.log div.stack-trace {
  background-color: #C41E2A;
  color: lightgray;
  padding: 0;
}

div.log div.stack-trace div.line.stack-frame {
  background-color: lightgray;
  color: #C41E2A;
}

.force-content:after {
  content: '\00a0';
}